{% extends 'base.html' %}
{% block title %}
    文章详情
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #container {
            width: 1000px;
            height: 1000px;
            margin: 0 auto;
        }

        #container p {
            overflow: auto;
        {#height: 20px;#}
        }

        #detail {
            width: 900px;
            background-color: darkseagreen;
            margin-bottom: 20px;
            border-bottom: 1px solid gray;
        }

        #comment {
            margin-top: 50px;
            width: 900px;
        }

        #commit_item {
            width: 900px;
        }

        .item {
            width: 900px;
            height: 80px;
            background-color: #00feff;
            margin-bottom: 15px;
            border: 1px solid gray;
        }

        #left, #item-left {
            float: left;
        }

        #right, #item_right {
            float: right;
        }

        #content {
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block newcontent %}
    <div id="container">
        <div id="detail">
            <h2>{{ article.title }}</h2>
            <p>
            <div id="left">作者:{{ article.user.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                发布时间:{{ article.pdatetime }}
            </div>
            <div id="right">
                收藏:<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span tag="0">{{ article.save_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                点赞:<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span tag="0">{{ article.love_num }}</span>
            </div>
            </p>
            <div id="content">
                {{ article.content | cdecode | safe }}
            </div>
        </div>

        <div id="comment">
            <div>
                <form action="{{ url_for('article.article_comment') }}?aid={{ article.id }}" method="post">
                    {#                    <input type="hidden" name="aid" value="{{ article.id }}">#}
                    <p>
                        <textarea name="content" id="" cols="120" rows="10"></textarea>
                    </p>
                    <p>
                        <input type="submit" value="评论" class="btn btn-info">
                    </p>
                </form>
            </div>
            <h3>评论如下:</h3>
            <div id="commit_item">
            {#            没有分页#}
{#                {% if article.comments %}#}
{#                    {% for comment in article.comments %}#}
{#                        <div class="item">#}
{#                            <div id="item-left">#}
{#                                <img src="{{ url_for('static', filename=comment.user.icon) }}" alt="" height="50px"#}
{#                                     width="70px">#}
{#                            </div>#}
{#                            <div id="item_right">#}
{#                                <p>#}
{#                                    <span>{{ comment.user.username }}</span>#}
{#                                    <span>{{ comment.cdatetime }}</span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    {{ comment.comment }}#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    <div> 还没有任何评论！！！</div>#}
{#                {% endif %}#}
                {% if comments.items %}
                    {% for comment in comments.items %}
                        <div class="item">
                            <div id="item-left">
                                <img src="{{ url_for('static', filename=comment.user.icon) }}" alt="" height="50px"
                                     width="70px">
                            </div>
                            <div id="item_right">
                                <p>
                                    <span>{{ comment.user.username }}</span>
                                    <span>{{ comment.cdatetime }}</span>
                                </p>
                                <p>
                                    {{ comment.comment }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div> 还没有任何评论！！！</div>
                {% endif %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous {% if not comments.has_prev %} disabled {% endif %}"><a
                                href="{{ url_for('article.article_detail') }}?page={{ comments.prev_num }}&aid={{ article.id }}"><span
                                aria-hidden="true">&larr;</span> 上一页</a></li>
                        <li class="next  {% if not comments.has_next %} disabled {% endif %}"><a
                                href="{{ url_for('article.article_detail') }}?page={{ comments.next_num }}&aid={{ article.id }}">下一页 <span
                                aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            // 收藏
            $('.glyphicon-heart').click(function () {
                let $this = $(this);
                // 找个标志位 tag  不断的改变标志位的值  将标志位的值传到后端  然后通过后端去做响应的操作
                let tag = $this.next('span').attr('tag');
                $.get('{{ url_for('article.article_save')}}', {aid:{{article.id}}, tag: tag}, function (data) {
                    $this.next('span').text(data.num_save);
                });
                if (tag == 1) {
                    $this.css({'color': 'black'});
                    $this.next('span').attr('tag', "0")
                } else {
                    $this.css({'color': 'red'});
                    $this.next('span').attr('tag', "1")
                }
            });
            // 点赞
            $('.glyphicon-thumbs-up').click(function () {
                let $this = $(this);
                let tag = $this.next('span').attr('tag')
                console.log(tag) // 返回的是RGB
                $.get('{{ url_for('article.article_love')}}', {aid:{{article.id}}, tag: tag}, function (data) {
                    // 修改点赞数据
                    $this.next('span').text(data.num_love);
                })
                console.log(tag)
                if (tag == 1) {
                    $this.css({'color': 'black'});
                    $this.next('span').attr('tag', "0");
                } else {
                    $this.css({'color': 'red'});
                    $this.next('span').attr('tag', "1");
                }
            });
        })
    </script>
{% endblock %}