

{% extends 'base.html' %}
{% block title %}
    用户中心
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #container {
            padding-top: 30px;
            width: 1000px;
            height: 1200px;
            margin: 0 auto;
        }

        #container h1 {
        {#padding-left: 170px;#} padding-right: 170px;
            text-align: center;
            margin-bottom: 50px;
        }

        #container form {
            margin: 0 auto;
        }

        #tab {
            font-size: 20px;
            text-align: left;
            padding-left: 170px;
            margin-bottom: 50px;
        }

        #tab span {
            display: inline;
            width: 120px;
            text-align: center;
            cursor: default;
        }

        #tips {
            color: red;
            font-size: 14px;
        }

        {##container h1#}
    </style>
{% endblock %}

{% block newcontent %}
    <div id="container">
        <h1>用户中心</h1>
        <div id="tab">
            <span>用户信息修改</span> | <span>发表文章</span> | <span>后续添加</span>
        </div>
        <div class="logintab">
            <p id="tips">{{ msg }}</p>
            {#            如果是文件上传 表单中必须添加enctype#}
            <form class="form-horizontal" method="post" action="{{ url_for('user.user_change') }}"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6 ">
                        <input type="text" class="form-control" id="inputUsername" placeholder="姓名"
                               name="username" value="{{ g.user.username }}">
                    </div>
                </div>
                {#            user 和 g.user 一样   都是user对象  g传到这个页面还有作用#}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6 ">
                        <input type="text" class="form-control" id="inputPhone" placeholder="手机号"
                               name="phone" value="{{ user.phone }}"> <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-2 col-md-6">
                        <input type="email" class="form-control" id="inputEamil" placeholder="邮箱" name="email"
                               value="{{ g.user.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-2 col-md-6">
                        <input type="file" class="form-control" id="inputFile" placeholder="头像" name="icon">
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-2 col-md-3">
                        <p>
                            <img src="{% if user.icon %} {{ url_for('static', filename=user.icon) }}
                                {% else %}{{ url_for('static', filename='images/touxiang.jpg') }} {% endif %}" alt=""
                                 height="80px" width="70px">
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary col-md-3">修&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改
                        </button>
                        {#                        <button type="reset" class="btn btn-primary col-md-3">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置#}
                        {#                        </button>#}
                    </div>
                </div>
            </form>
        </div>
        <div class="logintab">
            {#            <form class="form-horizontal" method="post" action="{{ url_for('article.publish_article') }}?id={{ user.id }}">#}
            <form class="form-horizontal" method="post" action="{{ url_for('article.publish_article') }}">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6 ">
                        <input type="text" class="form-control" id="inputTitle" placeholder="请输入文章标题"
                               name="title">
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-2 col-md-4">
                        <select name="type" id="">
                            <option value="0">选择文章的类型</option>
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-2 col-md-6">
                        <textarea name="content" class="mytextarea" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <button type="submit" class="btn btn-primary col-md-3">发表文章
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="logintab">
            <form class="form-horizontal" method="post" action="{{ url_for('user.upload_photo') }}"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <div class=" col-md-offset-2 col-md-4">
                        <input type="file" class="form-control" id="inputPhoto" placeholder="图片" name="photo">
                    </div>
                    <div class="col-md-3">
                        <input type="submit" id="btnUp" class="btn btn-primary" value="上传图片">
                    </div>
                </div>
            </form>
            <div class="row">
                {% for photo in photos %}
                    <div class="col-xs-6 col-sm-4"><img src="http://qzh2je0r2.hn-bkt.clouddn.com/{{ photo.photo_name }}"
                                                        alt="" height="160px" width="140px"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/center.js') }}" type="text/javascript"></script>
    {#    <script>#}
    {#        $(function () {#}
    {#            // 显示  隐藏 登陆方式  先隐藏 后展示#}
    {#            $(".logintab").hide();#}
    {#            $(".logintab").first().show();#}
    {#            $("#tab span").each(function (i) {#}
    {#                $(this).click(function () {#}
    {#                    $(".logintab").hide();#}
    {#                    $(".logintab").eq(i).show();#}
    {#                })#}
    {#            });#}
    {#        });#}
    {#        tinymce.init({#}
    {#            selector: '.mytextarea',#}
    {#            height: 400,#}
    {#            plugins: "quickbars emoticons",#}
    {#            inline: false,#}
    {#            toolbar: true,#}
    {#            menubar: true,#}
    {#            quickbars_selection_toolbar: 'bold italic | link h2 h3 blockquote',#}
    {#            quickbars_insert_toorbar: 'quickimage quicktable',#}
    {#        })#}
    {#        $('#inputPhone').blur(function () {#}
    {#            let phone = $(this).val();#}
    {#            let span_ele = $(this).next('span');#}
    {#            if (phone.length == 11) {#}
    {#                span_ele.text('');#}
    {#                // {#jqery ajax  get请求#}
    {#                $.get('/user/checkphone', {phone: phone}, function (data) {#}
    {#                        // {#console.log(data)#}
    {#                        if (data.code != 200) {#}
    {#                            span_ele.css({"color": "#ff0011", "font-size": "12px"});#}
    {#                            span_ele.text(data.msg);#}
    {#                        }#}
    {#                    }#}
    {#                )#}
    {#            } else {#}
    {#                span_ele.css({"color": "#ff0011", "font-size": "12px"});#}
    {#                span_ele.text('手机格式错误');#}
    {#            }#}
    {#        });#}
    {#    </script>#}
{% endblock %}
